<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/goods.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
    <script  type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js" ></script>
    <script src="https://map.qq.com/api/js?v=2.exp&key=RYSBZ-4TDKF-UVYJL-JMNYH-MMMIS-RSB5L"></script>
</head>

<body>
<div id="app">
    <!-- header -->
    <el-menu mode="horizontal" :default-active="activeIndex">
        <el-menu-item index="0" id="logo">美 滋 滋</el-menu-item>
        <el-menu-item index="1"><a href="/merchantEditPage">菜品编辑</a></el-menu-item>
        <el-menu-item index="2"><a href="/merchantStatisticsPage">统计信息</a></el-menu-item>
        <el-menu-item index="3"><a href="/merchantOrderRecords">订单统计</a></el-menu-item>
        <el-menu-item id="author" index="4">
            <img class="el-tooltip" src="http://tycoding.cn/author/avatar.png"/>
            <el-dropdown>
                <span class="el-dropdown-link">用户<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item divided><a href="/merchantPersonPage">信息中心</a></el-dropdown-item>
                    <el-dropdown-item divided><a href="/merchantLogout">退出</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>


    <div id="main">
        <el-col>
            <el-card shadow="hover">
                <div>
                    <el-row>
                        <el-button @click="Information()" type="primary" icon="el-icon-info">查看信息</el-button>

                        <el-button icon="el-icon-edit"
                                   @click="Editor()">修改个人信息
                        </el-button>
                        <el-button icon="el-icon-edit"
                                   @click="openDiscountEditor()">添加满减优惠
                        </el-button>

                    </el-row>
                </div>
                <br>
                <div align="center" id="logo">减免优惠</div>
                <!-- 列表 -->
                <el-table :data="discounts" style="width: 100%">

                    <el-table-column label="ID" prop="discountId">
                    </el-table-column>

                    <el-table-column label="满" prop="totalPrice">
                    </el-table-column>

                    <el-table-column label="减" prop="reducePrice">
                    </el-table-column>


                    <el-table-column label="操作" align="center" fixed="right">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="deleteDiscount(scope.row.discountId)">删除
                            </el-button>
                        </template>
                    </el-table-column>

                </el-table>


            </el-card>

        </el-col>
    </div>





    <!-- checkInformation按钮的dialog -->
    <el-dialog title="商家信息" :visible.sync="showInformation" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="details" status-icon ref="details"
                 label-width="100px">

            <el-form-item prop="idCode" label="商店号">
                <span>{{details.idCode}} </span>
            </el-form-item>


            <el-form-item prop="bankAccount" label="银行账号">
                <span>{{details.bankAccount}} </span>
            </el-form-item>

            <el-form-item prop="restaurantName" label="店铺名">
                <span>{{details.restaurantName}} </span>
            </el-form-item>


            <el-form-item prop="phone" label="电话">
                <span>{{details.phone}} </span>
            </el-form-item>


            <el-form-item prop="location" label="地址">
                <span>{{details.location.address}} </span>
            </el-form-item>


            <el-form-item prop="restaurantType" label="类型">
                <span>{{details.restaurantType}} </span>
            </el-form-item>

            <el-form-item prop="minDeliveryCost" label="起送价">
                <span>{{details.minDeliveryCost}} </span>
            </el-form-item>

            <el-form-item prop="deliveryCost" label="配送费">
                <span>{{details.deliveryCost}} </span>
            </el-form-item>
        </el-form>


        <div slot="footer" class="dialog-footer">
            <el-button type="primary"  @click="showInformation = false">确认</el-button>
        </div>
    </el-dialog>

    <!-- 编辑商家信息的dialog -->
    <el-dialog title="编辑" :visible.sync="showEditor" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="details" status-icon ref="details"
                 label-width="100px">

                <el-form-item prop="idCode" label="商店号" class="is-required">
                    <span>{{details.idCode}} </span>
                </el-form-item>

                <el-form-item prop="bankAccount" label="银行账号" class="is-required">
                    <el-input v-model="details.bankAccount" placeholder="details.bankAccount"
                              auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item prop="restaurantName" label="店铺名" class="is-required">
                    <el-input v-model="details.restaurantName" placeholder="details.restaurantName"
                              auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item prop="location" label=" 地址" class="is-required">
                    <el-input v-model="details.location.address" placeholder=""
                              auto-complete="off"></el-input>
                    <el-button type="primary" @click="address()" icon="el-icon-location">重新获取地址</el-button>
                </el-form-item>


                <el-form-item prop="phone" label="电话" class="is-required">
                    <el-input v-model="details.phone" placeholder="details.phone"
                              auto-complete="off"></el-input>
                </el-form-item>


                <el-form-item prop="restaurantType" label="类型" class="is-required">
                    <el-input v-model="details.restaurantType" placeholder="details.restaurantType"
                              auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item prop="minDeliveryCost" label="起送价" class="is-required">
                    <el-input v-model="details.minDeliveryCost" placeholder="details.minDeliveryCost"
                              auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item prop="deliveryCost" label="配送费" class="is-required">
                    <el-input v-model="details.deliveryCost" placeholder="details.deliveryCost"
                              auto-complete="off"></el-input>
                </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showEditor = false">取 消</el-button>
            <el-button type="primary" @click="updateInformation">提交修改申请</el-button>
        </div>
    </el-dialog>


    <!-- 编辑优惠的dialog -->
    <el-dialog title="编辑" :visible.sync="showDiscountEditor" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="discountEditor" status-icon ref="discountEditor"
                 label-width="100px">

                <el-form-item prop="total" label="满" class="is-required">
                    <el-input v-model="discountEditor.totalPrice" placeholder="满多少"
                              auto-complete="off"></el-input>
                </el-form-item>

                <el-form-item prop="total" label="减" class="is-required">
                    <el-input v-model="discountEditor.reducePrice" placeholder="减多少"
                              auto-complete="off"></el-input>
                </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showDiscountEditor = false">取 消</el-button>
            <el-button type="primary" @click="addNewDiscount()">添加</el-button>
        </div>
    </el-dialog>



</div>
</body>

<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/merchant/merchantPersonInformation.js}"></script>

</html>