<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../css/login.css}">
    <link rel="stylesheet" th:href="@{../../lib/font/icon/iconfont.css}">
</head>
<body>

<div id="app">
    <div>
        <el-main>
            <el-row type="flex" class="row-bg" justify="center" >
                <el-col :span="7">
                    <el-card class="box-card">
                        <div solt="header" class="header">
                            <span class="item">注册</span>
                        </div>

                        <div id="form">
                            <!-- 注册表单 -->
                            <el-form :model="register" status-icon ref="register">

                                <el-form-item label="账号"
                                              prop="account"
                                              :rules="[{ required: true, message: '用户名不能为空'}]">
                                    <el-input prefix-icon="el-icon-ump-yonghu" v-model="register.account"
                                              auto-complete="off"></el-input>
                                </el-form-item>


                                <el-form-item label="密码"
                                              prop="password">
                                    <el-input type="password"  prefix-icon="el-icon-ump-mima" v-model="register.password"
                                              auto-complete="off"></el-input>
                                </el-form-item>


                                <el-form-item label="重复密码" prop="repeatPassword">
                                    <el-input type="password" prefix-icon="el-icon-ump-mima"  v-model="repeatPassword"
                                              auto-complete="off"></el-input>
                                </el-form-item>

                                <el-form-item
                                        label="昵称"  prop="nickName">
                                    <el-input v-model="register.nickName"
                                              auto-complete="off"></el-input>
                                </el-form-item>

                                <el-form-item prop="phone" label="电话"
                                              :rules="[{ required: true, message: '不能为空'}]">
                                    <el-input v-model="register.phone"
                                              auto-complete="off"></el-input>
                                </el-form-item>

                                <el-form-item prop="mail"
                                              :rules="[{ required: true, message: '邮箱不能为空'}]"
                                              label="邮箱地址">
                                    <el-input  v-model="register.mail"
                                              auto-complete="off">

                                    </el-input>

                                    <el-button @click="countDown" type="primary" :disabled="isAbandon">{{content}}</el-button>
                                    </el-table>
                                </el-form-item>

                                <el-form-item  label="验证码">
                                    <el-input  v-model="verificationCode"
                                               auto-complete="off"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button class="btn" type="primary" @click="registerMember">注册</el-button>
                                </el-form-item>

                            </el-form>


                        <div>
                            <p><a href="/member" class="tips">已经有账号？点我去登录</a></p>
                        </div>

                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>

    </div>
</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<!--<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>-->
<!-- 核心js代码 -->
<script type="text/javascript" th:src="@{../../js/member/register.js}"></script>
</html>