<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/goods.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
    <style>
        .headImg{
            display: flex;
            flex-direction: column;
            flex:0 1 auto;
            justify-content: center;
            align-items:center;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- header -->
    <el-menu mode="horizontal" :default-active="activeIndex">
        <el-menu-item index="0" id="logo">美 滋 滋</el-menu-item>
        <el-menu-item index="1"><a href="/memberMainPage">主页</a></el-menu-item>
        <el-menu-item index="2"><a href="/memberOrders">订单</a></el-menu-item>
        <el-menu-item index="3"><a href="/memberStatisticsPage">统计信息</a></el-menu-item>

        <el-menu-item id="author" index="4">
            <img class="el-tooltip" src="http://tycoding.cn/author/avatar.png"/>
            <el-dropdown>
                <span class="el-dropdown-link">用户<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item divided><a href="/memberPersonPage">信息中心</a></el-dropdown-item>
                    <el-dropdown-item divided><a href="/memberLogout">退出</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>


    <div align="center">
            <!--<el-card :body-style="{ padding: '0px' }">-->
                <!--<img src="http://thyrsi.com/t6/675/1551424860x2890202402.png" class="image">-->
            <!--</el-card>-->
        <el-carousel :interval="4000" type="card" height="200px">
            <el-carousel-item v-for="item in card" :key="item.id">
                <!--<img src=item class="image">-->
                <!--<h>{{item}}</h>-->
                <img :src=item.url class="image">
            </el-carousel-item>
        </el-carousel>
    </div>


    <div id="main">
        <el-col>
            <el-card shadow="hover">
                <!-- 搜索框 -->
                <el-form :inline="true" :model="searchInfo" class="demo-form-inline">

                    <el-form-item label="店名">
                        <el-input v-model="searchInfo.RestaurantName">
                        </el-input>
                    </el-form-item>

                    <el-form-item label="类型">
                        <el-input v-model="searchInfo.RestaurantType">
                        </el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button
                                type="primary"
                                icon="el-icon-search"
                                @click="searchMerchants()">查询
                        </el-button>
                    </el-form-item>
                </el-form>

                <!-- 列表 -->
                <el-table
                        ref="merchants"
                        :data="merchants"
                        border
                        tooltip-effect="dark"
                        style="width: 100%">

                    <el-table-column
                            prop="restaurantName"
                            align="center"
                            sortable
                            fixed
                            label="店名"
                            width="120">
                    </el-table-column>


                    <el-table-column
                            align="center"
                            prop="location.address"
                            sortable
                            label="位置"
                            width="240">
                    </el-table-column>

                    <el-table-column align="center" label="店铺" width="200">
                        <template scope="scope">
                            <img src="http://thyrsi.com/t6/676/1551625184x2728309394.jpg" class="image" width="160" height="140"/>
                        </template>
                    </el-table-column>

                    <el-table-column
                            align="center"
                            prop="restaurantType"
                            sortable
                            label="类型"
                            width="100">
                    </el-table-column>

                    <el-table-column
                            align="center"
                            prop="minDeliveryCost"
                            sortable
                            label="起送价"
                            width="100">
                    </el-table-column>

                    <el-table-column
                            align="center"
                            prop="deliveryCost"
                            sortable
                            label="配送费"
                            width="100">
                    </el-table-column>


                    <el-table-column label="进店" align="center" fixed="right">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="primary"
                                    @click="enter(scope.row)">进店
                            </el-button>
                        </template>
                    </el-table-column>


                </el-table>

                <br/>
                <br/>
            </el-card>
        </el-col>
    </div>


</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/member/memberMainPage.js}"></script>

</html>