<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/goods.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
    <script  type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js" ></script>
    <script src="https://map.qq.com/api/js?v=2.exp&key=RYSBZ-4TDKF-UVYJL-JMNYH-MMMIS-RSB5L"></script>
</head>

<body>
<div id="app">
    <!-- header -->
    <el-menu mode="horizontal">
        <el-menu-item index="0" id="logo">美 滋 滋</el-menu-item>
        <el-menu-item index="1"><a href="/memberMainPage">主页</a></el-menu-item>
        <el-menu-item index="2"><a href="/memberOrders">订单</a></el-menu-item>
        <el-menu-item index="3"><a href="/memberStatisticsPage">统计信息</a></el-menu-item>

        <el-menu-item id="author" index="4">
            <img class="el-tooltip" src="http://tycoding.cn/author/avatar.png"/>
            <el-dropdown>
                <span class="el-dropdown-link">用户<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item divided><a href="/memberPersonPage">信息中心</a></el-dropdown-item>
                    <el-dropdown-item divided><a href="/memberLogout">退出</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>




    <div id="main">
        <el-col>
            <el-card shadow="hover">
                <div>
                    <el-row>
                        <el-button @click="Information()" type="primary" icon="el-icon-plus">查看信息</el-button>

                        <el-button icon="el-icon-edit"
                                   @click="Editor()">修改个人信息
                        </el-button>
                        <el-button icon="el-icon-edit"
                                   @click="openLocationEditor()">添加地址
                        </el-button>

                        <el-button type="danger"
                                   @click="deleteAccount()">注销账号
                        </el-button>

                    </el-row>
                </div>
                <br>
                <div align="center" id="logo">地址</div>
                <!-- 列表 -->
                <el-table :data="details.locations" style="width: 100%">


                    <el-table-column label="地址" prop="address">
                    </el-table-column>

                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="deleteLocation(scope.row.locationId)"
                                    icon="el-icon-delete">删除
                            </el-button>
                        </template>
                    </el-table-column>

                </el-table>

            </el-card>

        </el-col>
    </div>





    <!-- checkInformation按钮的dialog -->
    <el-dialog title="信息" :visible.sync="showInformation" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="details" status-icon ref="details"
                 label-width="100px">

            <el-form-item prop="account" label="账号: ">
                <span>{{details.account}} </span>
            </el-form-item>


            <el-form-item prop="nickName" label="昵称:">
                <span>{{details.nickName}} </span>
            </el-form-item>


            <el-form-item prop="phone" label="电话">
                <span>{{details.phone}} </span>
            </el-form-item>

            <el-form-item prop="mail" label="邮箱">
                <span>{{details.mail}} </span>
            </el-form-item>

            <el-form-item prop="memberLevel.level" label="会员等级:">
                <span>{{details.memberLevel.level}} </span>
            </el-form-item>
        </el-form>


        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="showInformation = false">确认</el-button>
        </div>
    </el-dialog>

    <!-- 编辑信息的dialog -->
    <el-dialog title="编辑" :visible.sync="showEditor" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="details" status-icon ref="details"
                 label-width="100px">

            <el-form-item prop="account" label="账号: ">
                <span>{{details.account}} </span>
            </el-form-item>

            <el-form-item prop="nickName" label="昵称:" class="is-required">
                <el-input v-model="details.nickName" placeholder="details.nickName"
                          auto-complete="off"></el-input>
            </el-form-item>

            <el-form-item prop="phone" label="电话" class="is-required">
                <el-input v-model="details.phone" placeholder="details.phone"
                          auto-complete="off"></el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showEditor = false">取 消</el-button>
            <el-button type="primary" @click="updateInformation">修改</el-button>
        </div>
    </el-dialog>


    <!-- 添加地址的dialog -->
    <el-dialog title="编辑" :visible.sync="showLocationEditor" width="30%" :close-on-click-modal="false"
               :close-on-press-escape="false">
        <el-form class="editor-form" :model="location" status-icon ref="location"
                 label-width="100px">

            <el-form-item prop="location" label=" 地址" class="is-required">

                <el-input v-model="location.address"
                          auto-complete="off"></el-input>
                <el-button type="primary" @click="checkAddressInMap" icon="el-icon-location">查看位置</el-button>
                <el-button type="primary" @click="address()" icon="el-icon-location">定位当前位置</el-button>

            </el-form-item>
        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="showLocationEditor = false">取 消</el-button>
            <el-button type="primary"  @click="addNewLocation()">添加</el-button>
        </div>
    </el-dialog>



</div>
</body>

<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/member/memberPersonInformation.js}"></script>

</html>