<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="utf-8"><link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/goods.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

</head>

<body style="height: 100%; margin: 0" >

<div id="app">
    <div th:replace="memberStatistics/guide"></div>

    <div th:replace="memberStatistics/search"></div>
    <br>
    <div>

    <div id="logo" align="center">订单数变动</div>
    <div id="ordersCount" style="min-width:400px;height:400px"></div>

    <div class="title" align="center">消费额</div>
    <div id="consumptionCount" style="min-width:400px;height:400px"></div>
    </div>


</div>

</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/memberStatistics/orderStatistics.js}"></script>
</html>