<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"><link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* css 代码  */
    </style>
    <script src="https://img.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/themes/grid-light.js"></script>
</head>
<body>
<div id="app">

    <a href="/reviewApplications">返回</a>
    <br>
    <p>餐馆数量: {{statisticsInformation.restaurantNum}}</p>
    <p>会员数量:{{statisticsInformation.memberNum}}</p>
    <p>月实际收入:{{statisticsInformation.monthlyActualIncome}}</p>
    <p>月收入:{{statisticsInformation.monthlyIncome}}</p>
    <p>月退款额:{{statisticsInformation.monthlyExpense}}</p>
    <p>账户余额:{{statisticsInformation.balance}}</p>
    <div id="container" style="min-width:400px;height:400px"></div>

    <br>



</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/manager/managerStatistics.js}"></script>
<script type="text/javascript" th:src="@{../../js/manager/chart.js}"></script>
</html>