<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"><link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{../../lib/element-ui/lib/theme-chalk/index.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/goods.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>

    <script src="https://img.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/themes/grid-light.js"></script>
</head>
<body>
<div id="app">
    <el-menu mode="horizontal" :default-active="activeIndex">
        <el-menu-item index="0" id="logo">美 滋 滋</el-menu-item>
        <el-menu-item index="1"><a href="/reviewApplications">申请</a></el-menu-item>
        <el-menu-item index="2"><a href="/managerStatistics">统计信息</a></el-menu-item>

        <el-menu-item id="author" index="3">
            <img class="el-tooltip" src="http://tycoding.cn/author/avatar.png"/>
            <el-dropdown>
                <span class="el-dropdown-link">经理<i class="el-icon-arrow-down el-icon--right"></i></span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item divided><a href="/managerLogout">退出</a></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>


    <div id="main">
    <br>
    <p>餐馆数量: {{statisticsInformation.restaurantNum}}</p>
    <p>会员数量:{{statisticsInformation.memberNum}}</p>
    <p>月实际收入:{{statisticsInformation.monthlyActualIncome}}</p>
    <p>月收入:{{statisticsInformation.monthlyIncome}}</p>
    <p>月退款额:{{statisticsInformation.monthlyExpense}}</p>
    <p>账户余额:{{statisticsInformation.balance}}</p>
    <div id="container" style="min-width:400px;height:400px"></div>
    </div>



</div>
</body>
<script type="text/javascript" th:src="@{../../lib/vue/vue.js}"></script>
<script type="text/javascript" th:src="@{../../lib/element-ui/lib/index.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vue-resource.js}"></script>
<script type="text/javascript" th:src="@{../../lib/vue/vuex.min.js}"></script>
<script type="text/javascript" th:src="@{../../js/manager/managerStatistics.js}"></script>
<script type="text/javascript" th:src="@{../../js/manager/chart.js}"></script>
</html>